# Godot 4+ specific ignores
.godot/
.android/
android/
.mono/

# Godot imports
*.import

# Backup / temp
*.old
*.bak
*.af~lock~
*.af-backup/

# Environment
.DS_Store
Thumbs.db
user_data/

# IDE
.vs/
*.csproj.user
*.suo
